@import url("https://fonts.googleapis.com/css?family=Roboto");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* ダークモードのスタイルの定義 */
body {
    background-color: #1f1f1f;
    color: #ffffff;
}

#skill-set {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: rgb(189, 89, 89);
    margin-bottom: 20px;
    text-indent: 50px;
}

h3 {
    color: #a5a5a5;
    margin-bottom: 10px;
    text-indent: 100px;
}

h4 {
    color: #a5a5a5;
    margin-bottom: 5px;
    text-indent: 150px;
}

.highlight {
    color: rgb(0, 195, 255);
}





